@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

*{
    box-sizing: border-box;
    font-family: 'nunito, sans serif';
    text-align: center;
}

body {
    display: block;
    background: goldenrod;
}

/* h1 {
    font-size: 2rem;
    font-style: italic;
    margin: auto;
    text-align: center;
} */

/* #battleship-hit {
    background-image: url(/workspace/Better-Ships-that-Battle-Better/workspace/Better-Ships-that-Battle-Better/assets/images/battleship-hit.webp);
    height: 35vh;
    width: fit-content;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
} */